@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: url(files/images/taxi2.jpg) repeat 0 0;
        background-size:cover;
        background-repeat:no-repeat;
    }

    img {
        width: 100%;
        height: auto;
    }

</style>

<div class="text-center text-white">

    <h1 class="display-4">Welcome</h1>
    <h5>Book your drive <a href="/Customer/Booking/Upsert">here.</a></h5>
</div>
